@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    outline: none !important;
}
body
{
    font-family: 'Roboto', sans-serif;
}
header
{
    position: relative;
    z-index: 1000000;
}
p
{
    font-size: 1.15rem;
}
.navbar
{   
    background: transparent !important;
    transition: 0.5s;
}
.navbar.scrolled
{
    background: rgb(255, 255, 255,.7) !important;
    transition: 0.5s;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link{
    color: #DB9633;
}
.navbar-light .navbar-nav .nav-link
{
    color: #696666;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus
.navbar-light .navbar-nav .nav-link:visited
{
    color: #DB9633;
}
.navbar-brand{
    width: 10rem;
}
.navbar-brand img{
    width: 100%;
    height: auto;
}
.banner
{
    position: relative;
    top: -50;
    width: 100%;
    height: 100vh;
    background: url(../img/bg_top.png);
    background-size: cover;
    margin-bottom: 0;
}
.banner:before,
.contact:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    widows: 100%;
    height: 400px;
    background: linear-gradient(#fff,transparent);
    pointer-events: none;
}
.banner:after,
.contact:after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    widows: 100%;
    height: 400px;
    background: linear-gradient(360deg,#fff,transparent);
    pointer-events: none;
}
.height100p
{
    height: 100vh;
}
.h100
{
    height: 100%;
}
.btnD1
{
    background: #696666;
    color: #fff;
    border-radius: 30px;
    border: none;
    margin: 10px 0;
    padding: 10px 30px;
}
.btnD2
{
    background: #DB9633;
    color: #fff;
    border-radius: 30px;
    border: none;
    padding: 10px 30px;
}
.btnD1:hover
{
    background: #fff;
    
}
.btnD2:hover
{
    background: #696666;
    color: #fff;
    
}
.contentBox
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
}
.contentBox h1
{
    font-weight: 800;
    color: #1f1d1d;
    text-transform: uppercase;
    font-size: 5rem;
}
.contact
{
    position: relative;
    padding: 100px 0;
    background: url(../img/contato.jpg);
    background-size: cover;
    min-height: 100vh;
}
.contact form
{
    position: relative;
    z-index: 1000;
}
.contact .form-control
{
    background: transparent;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    height: 50px;
    border-radius: 0;
    background: rgb(0, 0, 0,.4);
    color: #fff;
    font-size: 1.25rem;
}
.contact .form-control:focus,
.contact .form-control:hover
{
    border: none;
    border-bottom: 2px solid #DB9633;
}
.contact .textarea
{
    min-height: 100px;
}
.contact label
{
    color: #fff;
    font-size: 1.25rem;
}
footer
{
    background: #000;
    padding: 50px 0 0;
}
.sci
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sci li
{
    list-style: none;
    margin: 0 20px;
}
.sci li a
{
    color: #777;
    font-size: 2em;
    transition: 0.5s;
}
.sci li a:hover
{
    color: #fff;
}
.cpryt
{
    margin-top: 20px;
    text-align: center;
    color: #777;
}
.cpryt a,
.cpryt a:hover
{
    color: #fff;
}

.empresaText
{
    margin: 8rem 0;
    font-size: 1.25rem;
    align-items: center;
    text-align: center;
}
.empresaText h1
{
    padding-bottom: 40px;
}

.empresaText p
{
    padding-bottom: 40px;
}

@media(min-widht: 992px)
{
    .navbar-expand-lg .navbar-nav .nav-link 
    {
        padding-right: 1em;
        padding-left: 1rem;
    }
}
@media(max-widht: 992px)
{
    .nav-link .nav-toggler
    {
        background: #fff;
        border-radius: 0;
    }
    .banner
    {
        min-height: 100vh;
        padding: 100px 0;
    }
    .contentBox h1
    {
        font-size: 2rem;
    }
    .navbar-expand-lg .navbar-nav .nav-link 
    {
        padding-right: 1em;
        padding-left: 1rem;
    }
    .headerText h2{
        font-size: 2rem;
    }
    .contact
    {
        padding: 20px 0;
    }
    .contact .form-control
    {
        height: 40px;
        border: 1px solid #fff;
    }
    .sci
    {
        list-style: none;
        margin: 0 10px;
    }
    .sci li a
    {
        color:#777;
        font-size: 1.5rem;
        transition: 0.5s;
    }
}